.icon{
    width: 100%;
    display: block;
    background-repeat: no-repeat !important;
    background-position: 0 50% !important;
    background-size: contain !important;
    padding-left: 24px;
}
.icon_file{
    background: url(/resources/icon/icon_file.png);
}
.icon_dir{
    background: url(/resources/icon/icon_dir.png);
}
