<!DOCTYPE>
<html>
<head>
    <!-- {{url}} is assigned by efserv -->
    <title>Indexs of {{url}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="resources/style/style_indexs.css" type="text/css" rel="stylesheet">
    <link href="resources/style/style_file_icon.css" type="text/css" rel="stylesheet">
    <script src="resources/script/angular.min.js" type="text/javascript"></script>
</head>

<!-- {{xxx}} in the body is rendered by angular -->
<body ng-app="efserv_dir_indexs" ng-controller="dir_indexs">
<div id="content">
    <table>
        <thead>
        <tr>
            <th class="{{ getOrderIcon('is_file') }}" ng-click="reOrderBy('is_file')" style="min-width:48px; width: 48px;">Type</th>
            <th class="{{ getOrderIcon('name') }}" ng-click="reOrderBy('name')">Name</th>
            <th class="{{ getOrderIcon('mime_type') }}" ng-click="reOrderBy('mime_type')">MimeType</th>
            <th class="{{ getOrderIcon('ctime') }}" ng-click="reOrderBy('ctime')">Create Time</th>
            <th class="{{ getOrderIcon('mtime') }}" ng-click="reOrderBy('mtime')">Modify Time</th>
            <th class="{{ getOrderIcon('atime') }}" ng-click="reOrderBy('atime')">Access Time</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in file_list">
            <td style="text-align: center"><span class="{{file.is_file?'icon icon_file':'icon icon_dir'}}"></span></td>
            <td><a href="{{file.is_file?file.name:file.name+'/'}}">{{file.is_file?file.name:file.name+'/'}}</a></td>
            <td>{{file.mime_type}}</td>
            <td>{{file.ctime|date:"yyyy-MM-dd HH:mm:ss"}}</td>
            <td>{{file.mtime|date:"yyyy-MM-dd HH:mm:ss"}}</td>
            <td>{{file.atime|date:"yyyy-MM-dd HH:mm:ss"}}</td>
        </tr>
        </tbody>
    </table>
</div>
<footer>powered by <a href="https://github.com/xiaozhuai/efserv" target="_blank">efserv</a> {{efserv_version}}</footer>
</body>

<script>
    var app = angular.module('efserv_dir_indexs', []);
    app.controller('dir_indexs', function ($scope, $filter, $http) {
        var file_list;

        $scope.getOrderCondition = function (field) {
            if (field === 'name') return ['is_file', 'name'];
            else return field;
        };

        $scope.doOrder = function () {
            $scope.file_list = $filter('orderBy')(file_list, $scope.getOrderCondition($scope.orderByField), $scope.orderByDesc);
        };

        $scope.reOrderBy = function (field) {
            if ($scope.orderByField === field) {
                $scope.orderByDesc = !$scope.orderByDesc;
            } else {
                $scope.orderByField = field;
                $scope.orderByDesc = false;
            }
            $scope.doOrder();
        };

        $scope.getOrderIcon = function (field) {
            return ($scope.orderByField === field) ? ($scope.orderByDesc ? 'desc' : 'asc' ) : '';
        };

        // add a query "?json" to get file list json
        $http.get('?json').then(function (response) {
            file_list = response.data.list;
            $scope.doOrder();
        });

        $scope.orderByField = 'name';
        $scope.orderByDesc = false;
    })
</script>
</html>