* {  font-family: Monospaced, Monaco, Droid Sans Mono, Courier New;  }
body {  color: #000000;  background-color: #FFFFFF;  }
a:link {  color: #4898d5; text-decoration: none;  cursor: pointer;  }
a {  color: #4898d5; text-decoration: none;  cursor: pointer;  }
span {  font-size: smaller;  }

table {
    border: 1px solid #d3d3d3;
    background: #fefefe;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    border-spacing: 0px;
    border-collapse: separate;
}

th, td {  padding: 8px 8px;  text-align: left;  border-right: 1px solid #e0e0e0;  }
th:last-child, td:last-child {  border-right: 0px;  }

th {  text-shadow: 1px 1px 1px #fff;  background-color: #e8eaeb !important;  user-select: none;  cursor: ns-resize;  }
td {  border-top: 1px solid #e0e0e0;  }

tbody tr:nth-child(even) {  background-color: #f1f1f1;  }
tbody tr:nth-child(odd) {  background-color: #ffffff;  }

.asc{
    background: url(/resources/images/asc.png) no-repeat right 8px center;
}

.desc{
    background: url(/resources/images/desc.png) no-repeat right 8px center;
}