.icon{
    width: 100%;
    height: 16px;
    display: block;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: contain !important;
}
.icon_file{
    background: url(/resources/icon/icon_file.png);
}
.icon_dir{
    background: url(/resources/icon/icon_dir.png);
}
